<!DOCTYPE html>
<html>
  <head>
		<title>Ruby on Rails Tutorial Sample App | </title>
    <%= csrf_meta_tag %>
  </head>
  <body> 
	<%= @page_title %>
		application.html.erb is rendering!
	
    <%= yield %>
  </body>
</html>